@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="backgroundImg text-center">
    <h3 class="display-4 text-dark">Welcome to Martin's Diner</h3>
</div>
<div class="text-center">
    <img src="~/image/diner.jpg" width="600" class="img-fluid" alt="Responsive Image" />
</div>



